body {
  background-color: black;
  margin: 0;
}
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.item-1 {
  grid-column: 1 / 4;
  background-color: aqua;
}
.item-2 {
  display: grid;
  grid-column: 1 / 2;
  background-color: azure;
}
.item-3 {
  display: grid;
  grid-column: 2 / 3;
  background-color: blue;
}
.item-4 {
  display: grid;
  grid-column: 3 / 4;
  background-color: blueviolet;
}
.item-5 {
  display: grid;
  grid-column: 1 / 2;
  background-color: yellow;
}
.item-6 {
  display: grid;
  grid-column: 2 / 3;
  background-color: green;
}
.item-7 {
  display: grid;
  grid-column: 3 / 4;
  background-color: brown;
}
.item-8 {
  display: grid;
  grid-column: 1 / 4;
  background-color: cyan;
}
.item-9 {
  display: grid;
  grid-column: 1 / 4;
  background-color: red;
}
