body {
    margin: 0;
  }
  /* NAV-AREA START */
  .Navigation {
    width: 100vw;
    height: 60px;
    background-color: black;
    display: flex;
    
    box-sizing: border-box;
  }
  
  .NavArea {
    background-color: chartreuse;
    flex: 1;
    height: 100%;
    display: flex;
    padding: 12px;
    border: 12px;
  }
  
  .frame1 {
    align-items: center;
  }
  .LogoImg {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  a {
    text-decoration: none;
    display: flex;
  }
  .navBtn {
    margin: 8px;
    text-decoration: none;
    &:hover {
      color: red;
      font-size: 30px;
    }
  }
  .frame2 {
    justify-content: center;
    align-items: center;
  }
  .Team {
    &:hover {
      color: red;
      font-size: 30px;
    }   
  }
  .frame3 {
    justify-content: right;
    align-items: end;
  }
  .Tools {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    word-spacing: 40px;
    padding-right: 40px;
  }
  
  /* NAV-AREA END */
  
/* Content START */
.Content {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: blue;
    padding: 32px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  .TeamImg {
    width: 100%;
    max-height: 10vh;
    border-radius: 10px;
    word-spacing: 10px;
    padding-right: 10px;
  }
  .TeamImg2 {
    width: 100%;
    max-height: 10vh;
    border-radius: 10px;
    word-spacing: 10px;
    padding-right: 10px;
  }
  /* Content END */
  
  /* Footer START */
  .Footer {
    height: 200px;
    width: 100%;
    background-color: green;
    padding: 16px;
    box-sizing: border-box;
  }
  
  /* Footer END */
  