body {
    margin: 0;
  }
  /* NAV-AREA START */
  .Navigation {
    width: 100vw;
    height: 60px;
    background-color: black;
    display: flex;
    
    box-sizing: border-box;
  }
  
  .NavArea {
    flex: 1;
    height: 100%;
    display: flex;
    padding: 12px;
    border: 12px;
  }
  
  .frame1 {
    background-color: yellow;
    align-items: center;
  }
  .LogoImg {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  a {
    text-decoration: none;
    display: flex;
  }
  .navBtn {
    margin: 8px;
    text-decoration: none;
    &:hover {
      color: red;
      font-size: 20px;
    }
  }
  .frame2 {
    background-color: beige;
    justify-content: center;
    align-items: center;
  }
  .frame3 {
    background-color: purple;
  }
  .Tools {
    border: 4px;
    border-color: black;
  }
  
  /* NAV-AREA END */
  
/* Content START */
.Content {
    width: 100%;
    min-height: 50vh;
    background-color: blue;
    padding: 32px;
    box-sizing: border-box;
  }
  /* Content END */
  
  /* Footer START */
  .Footer {
    height: 200px;
    width: 100%;
    background-color: green;
    padding: 16px;
    box-sizing: border-box;
  }
  
  /* Footer END */
  